
database/
instagram_images/
include/
lib/
userdata/
bin/
share/
archive/
temp/
build/
dist/
__pycache__/
__pycache__/*
releases/
*.log

*.pot

*.pyc

*/*/*/__pycache__/

*/*/__pycache__/

*/__pycache__/
extra_modules/
releases/*
